.spending-container {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 35%;
}

.graph-container {
  display: flex;
  margin: 1rem 0.5rem;
  height: 20rem;
  justify-content: space-between;
}

.bar {
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.5rem;
  width: 4rem;
  padding: 0.5rem;
  margin: 1rem;
  position: relative;
  margin-top: auto;
}

.bar.blue {
  background-color: hsl(200, 79%, 65%);
}

.days-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.days {
  width: 5rem;
}

/* light grey border */
hr {
  border: 1px solid hsl(0, 0%, 90%);
  margin: 1rem 0;
}

.total-spending-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days,
.total-spending {
  color: hsl(28, 10%, 53%);
  font-size: 1.5rem;
}
